.idea/
*.pyc
__pycache__/
build_cmake/
build_cmake2/
build_android/
/build
/dist
/src/pyopenxr.egg-info
/.tox
/.coverage
/src/generate/xrg/libclang.dll
/src/generate/xrg/headers/xr.xml
/src/generate/xrg/headers/*.h
src/generate/xrg/libclang*.so
/.venv
/.pytest_cache
/docs/.doctrees/
/docs/.buildinfo
/docs/.buildinfo.bak
/docs/_sources/
