.idea/
*.pyc
__pycache__/
build_cmake/
/build
/dist
/src/pyopenxr.egg-info
/.tox
/.coverage
/src/generate/xrg/libclang.dll
/src/generate/xrg/headers/xr.xml
/src/generate/xrg/headers/*.h
src/generate/xrg/libclang*.so
/docs/build
/docs/.doctrees
/docs/_sources
/docs/.buildinfo
