# -----------------------------------------------------------------------------
# Code-generation & runtime support
# -----------------------------------------------------------------------------
libclang>=12              # Python clang.cindex bindings (match your system libclang)
PyOpenGL>=3.1.6           # for examples & smoke tests
glfw>=2.5.6               # used by our offscreen/context-provider examples
numpy

# -----------------------------------------------------------------------------
# Testing
# -----------------------------------------------------------------------------
pytest>=7.2.0,<8.0.0      # test runner
pytest-xdist>=2.6.2       # parallel testing
nose2

# -----------------------------------------------------------------------------
# Linting & Formatting
# -----------------------------------------------------------------------------
black>=23.1.0             # code formatter
flake8>=6.0.0             # style checks

# -----------------------------------------------------------------------------
# Packaging & CI
# -----------------------------------------------------------------------------
twine>=4.0.0               # uploading wheels to PyPI
