# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.13", "3.14"]
        os: [ubuntu-latest, ubuntu-22.04, windows-latest]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies 1
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
    - name: Install dependencies Linux
      if: runner.os == 'Linux'
      run: |       
        # on ubuntu with PyOpenGL 3.1.7 headless automated build/test fails at "from OpenGL import GL"
        # python -m pip install PyOpenGL==3.1.6
    - name: Install dependencies 2
      run: |
        python -m pip install -e .
    - name: Lint with flake8
      run: |
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --ignore=F403,F405,E501 --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        # stop the build if there are Python syntax errors or undefined names
        # flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
    - name: Test installed code with pytest
      run: |
        pytest
